<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button (click)="goBack()" ion-button>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="page-product-list">
    <div>
        <ion-segment color="gray">
            <ion-segment-button value="Category">
                Category
            </ion-segment-button>
            <ion-segment-button value="Hits">
                Top Hits
            </ion-segment-button>
            <ion-segment-button value="Sort">
                Sort / Filter
            </ion-segment-button>
        </ion-segment>
    </div>
    <ion-row *ngFor="let i of productRows">
        <ion-col *ngFor="let item of products | slice:(i*2):(i+1)*2" width-50>
            <ion-card>
                <ion-slides (click)="openProductDetails()">
                    <ion-slide *ngFor="let image of item.images">
                        <img src="data:image/jpeg;base64,{{image}}"/>
                    </ion-slide>
                </ion-slides>
                <ion-card-content (click)="openProductDetails()">
                    <p class="item-title">{{item.data.title}}</p>
                    <p class="item-time ">
                        <ion-icon name="time"></ion-icon>{{item.data.created_date}} min ago</p>
                    <p class="item-price">RM {{item.data.price}}</p>
                </ion-card-content>
                <ion-item>
                    <ion-icon color="danger" name='heart' small item-left></ion-icon>
                    <ion-badge color="favorite" small item-left>{{item.data.likes}}</ion-badge>
                    <ion-icon color="primary" name='md-more' small item-right></ion-icon>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-fab right bottom>
        <button (click)="openCreateProduct()" ion-fab color="gray"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
